.card-container {
    margin:0px auto;
    width: 90%;
    overflow-y: hidden;
    margin-bottom: 40px;
}
.card-container-body {
  min-height: 400px;
  max-height: 400px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.card-container-footer {
  display: flex;
  align-items: center;
  justify-content: right;
}
.card-pagination {
  list-style: none;
  
  float: left;
}

.card-pagination li {
  display: inline;
  background-color: #34495E;
  color: #FFFFFF;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 2px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar track */
  }
  
  /* Customize the scrollbar thumb (the draggable handle) */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Background color of the thumb */
  }
  
  /* Customize the scrollbar track on hover */
  ::-webkit-scrollbar:hover {
    background: #f0f0f0; /* Background color when the scrollbar is hovered */
  }
  
  /* Customize the scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Background color of the thumb on hover */
  }
  
  /* Customize the scrollbar buttons (the arrows at the ends) */
  ::-webkit-scrollbar-button {
    background: #ccc; /* Background color of the buttons */
  }
  
  /* Customize the scrollbar corner (where the vertical and horizontal scrollbars meet) */
  ::-webkit-scrollbar-corner {
    background: #f0f0f0; /* Background color of the scrollbar corner */
  }

  
  
  
  
  